<html>
  <body>
    <p>Good Morning Alejandro,</p>
    <p>
      <%= companies.length === 0 ? "No" : companies.length %> <%= companies.length != 1 ? "companies" : "company" %> had changes
      in their job postings.
    </p>
    <% if (companies.length > 0) {%> 
      <ul style="list-style: none; padding-left: 0">
        <% for (const company of companies) { %> 
          <li>
            <h3><%= company.companyName %></h3>
            <% if (company.newJobs.length > 0) { %> 
              <p><%= company.newJobs.length %> <%= company.newJobs.length > 1 ? "were" : "was" %> added</p>
              <ul>
                <% for (const newJob of company.newJobs) { %> 
                  <li>
                    <a href=<%= newJob.url %> >
                      <p><b><%= newJob.title %></b> - <%= newJob.locations %></p>
                    </a>
                  </li>
                <% } %> 
              </ul>
            <% } %>
            <% if (company.removedJobs.length > 0) { %> 
              <p><%= company.removedJobs.length %> <%= company.removedJobs.length > 1 ? "were" : "was" %> removed</p>
              <ul>
                <% for (const removedJob of company.removedJobs) { %> 
                  <li>
                    <a href=<%= removedJob.url %> >
                      <p><b><%= removedJob.title %></b> - <%= removedJob.locations %></p>
                    </a>
                  </li>
                <% } %> 
              </ul>
            <% } %>
          </li>
        <% } %>
      </ul>
    <% } %>
  </body>
</html>