<!DOCTYPE html>
  <head>
    <style>
      ul {
        list-style-type: none;
        padding-left: 0;
      }
      ul.companies > li {
        margin-left: 0;
      }
      ul.jobs {
        list-style-type: disc;
      }
      li > p {
        margin-bottom: 0;
      }
      </style>
  </head>
  <body>
    <p>Good Morning Alejandro,</p>
    <p>
      <%= companies.length === 0 ? "No" : companies.length %> <%= companies.length != 1 ? "companies" : "company" %> had changes
      in their job postings.
    </p>
    <% if (companies.length > 0) {%> 
      <ul class="companies">
        <% for (const company of companies) { %> 
          <li class="company">
            <h3><%= company.companyName %></h3>
            <% if (company.newJobs.length > 0) { %> 
              <p><%= company.newJobs.length %> <%= company.newJobs.length > 1 ? "jobs were" : "job was" %> added</p>
              <ul class="jobs">
                <% for (const newJob of company.newJobs) { %> 
                  <li>
                    <a href=<%= newJob.url %> >
                      <b><%= newJob.title %></b> - <%= newJob.locations %>
                    </a>
                  </li>
                <% } %> 
              </ul>
            <% } %>
            <% if (company.removedJobs.length > 0) { %> 
              <p><%= company.removedJobs.length %> <%= company.removedJobs.length > 1 ? "jobs were" : "job was" %> removed</p>
              <ul class="jobs">
                <% for (const removedJob of company.removedJobs) { %> 
                  <li>
                    <a href=<%= removedJob.url %> >
                      <b><%= removedJob.title %></b> - <%= removedJob.locations %>
                    </a>
                  </li>
                <% } %> 
              </ul>
            <% } %>
          </li>
        <% } %>
      </ul>
    <% } %>
  </body>
</html>

